# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# server venv
venv
coinbase_cloud_api_key_general.json
coinbase_cloud_api_key_trading.json
.env
secrets.py
client\pnpm-lock.yaml
**.pkl
useful_info.md